@import url(default.css);
@import url(font.css);
@import url(common.css);

.tit_font {
    font-family: "Eulyoo1945";
    font-weight: 800;
    line-height: 1.4;
}

header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%; /* wrap기준으로 100% */
    height: 100px;
    color: #fff;
    display: flex; /* logo, gnb, tnb 좌우로 배치 */
    justify-content: space-between; /* 좌우 양쪽 끝 */
    align-items: center; /* 위아래가운데 */
    padding: 0 20px; /* logo, tnb 좌우 여백 */
}
header .logo a {
    display: block;
    font-size: 0; /* 이미지 하단에 존재하는 행간 삭제 */
    line-height: 0;
}
header .gnb .gnb_open, 
header .gnb .gnb_close {
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-size: 22px;
    line-height: 100px;
    /* header 높이와 같은 값을 행간으로 줌 */
    padding: 0 25px;
}
header .tnb {
    display: flex; /* mypage, searchs 좌우 배치 */
    gap: 5px;
}
header .tnb .mypage,
header .tnb .search {
    width: 40px;
    height: 40px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
header .tnb .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0002 11.0007C9.5335 11.0007 8.27794 10.4784 7.2335 9.43398C6.18905 8.38954 5.66683 7.13398 5.66683 5.66732C5.66683 4.20065 6.18905 2.9451 7.2335 1.90065C8.27794 0.856207 9.5335 0.333984 11.0002 0.333984C12.4668 0.333984 13.7224 0.856207 14.7668 1.90065C15.8113 2.9451 16.3335 4.20065 16.3335 5.66732C16.3335 7.13398 15.8113 8.38954 14.7668 9.43398C13.7224 10.4784 12.4668 11.0007 11.0002 11.0007ZM0.333496 19.0007V17.934C0.333496 17.1784 0.527941 16.484 0.916829 15.8507C1.30572 15.2173 1.82239 14.734 2.46683 14.4007C3.84461 13.7118 5.24461 13.1951 6.66683 12.8507C8.08905 12.5062 9.5335 12.334 11.0002 12.334C12.4668 12.334 13.9113 12.5062 15.3335 12.8507C16.7557 13.1951 18.1557 13.7118 19.5335 14.4007C20.1779 14.734 20.6946 15.2173 21.0835 15.8507C21.4724 16.484 21.6668 17.1784 21.6668 17.934V19.0007C21.6668 19.734 21.4057 20.3618 20.8835 20.884C20.3613 21.4062 19.7335 21.6673 19.0002 21.6673H3.00016C2.26683 21.6673 1.63905 21.4062 1.11683 20.884C0.594607 20.3618 0.333496 19.734 0.333496 19.0007ZM3.00016 19.0007H19.0002V17.934C19.0002 17.6895 18.9391 17.4673 18.8168 17.2673C18.6946 17.0673 18.5335 16.9118 18.3335 16.8007C17.1335 16.2007 15.9224 15.7507 14.7002 15.4507C13.4779 15.1507 12.2446 15.0007 11.0002 15.0007C9.75572 15.0007 8.52239 15.1507 7.30016 15.4507C6.07794 15.7507 4.86683 16.2007 3.66683 16.8007C3.46683 16.9118 3.30572 17.0673 3.1835 17.2673C3.06127 17.4673 3.00016 17.6895 3.00016 17.934V19.0007ZM11.0002 8.33398C11.7335 8.33398 12.3613 8.07287 12.8835 7.55065C13.4057 7.02843 13.6668 6.40065 13.6668 5.66732C13.6668 4.93398 13.4057 4.30621 12.8835 3.78398C12.3613 3.26176 11.7335 3.00065 11.0002 3.00065C10.2668 3.00065 9.63905 3.26176 9.11683 3.78398C8.59461 4.30621 8.3335 4.93398 8.3335 5.66732C8.3335 6.40065 8.59461 7.02843 9.11683 7.55065C9.63905 8.07287 10.2668 8.33398 11.0002 8.33398Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.61332 16.4083C6.435 16.4083 4.59142 15.6539 3.08259 14.145C1.57375 12.6362 0.819336 10.7926 0.819336 8.61429C0.819336 6.43598 1.57375 4.5924 3.08259 3.08356C4.59142 1.57473 6.435 0.820312 8.61332 0.820312C10.7916 0.820312 12.6352 1.57473 14.144 3.08356C15.6529 4.5924 16.4073 6.43598 16.4073 8.61429C16.4073 9.49361 16.2674 10.323 15.9876 11.1024C15.7078 11.8818 15.3281 12.5712 14.8485 13.1708L21.5633 19.8856C21.7831 20.1054 21.8931 20.3852 21.8931 20.7249C21.8931 21.0647 21.7831 21.3445 21.5633 21.5643C21.3435 21.7841 21.0637 21.894 20.724 21.894C20.3842 21.894 20.1044 21.7841 19.8846 21.5643L13.1698 14.8495C12.5703 15.3291 11.8808 15.7088 11.1014 15.9886C10.322 16.2684 9.49264 16.4083 8.61332 16.4083ZM8.61332 14.0101C10.1122 14.0101 11.3862 13.4855 12.4354 12.4363C13.4846 11.3872 14.0092 10.1131 14.0092 8.61429C14.0092 7.11545 13.4846 5.84143 12.4354 4.79225C11.3862 3.74306 10.1122 3.21846 8.61332 3.21846C7.11447 3.21846 5.84046 3.74306 4.79127 4.79225C3.74208 5.84143 3.21748 7.11545 3.21748 8.61429C3.21748 10.1131 3.74208 11.3872 4.79127 12.4363C5.84046 13.4855 7.11447 14.0101 8.61332 14.0101Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
            header {
                height: 56px;
                padding: 0 0 0 20px; /* logo, tnb 좌우 여백 */
            }
            header .logo a img {
                width: 142px;
            }
            header .gnb .gnb_open {
                display: block; /* none -> block 숨김요소 보이게 */
                width: 56px; /* header 높이와 동일 */
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66667 3.16732C1.33611 3.16732 1.05903 3.05551 0.835417 2.8319C0.611806 2.60829 0.5 2.33121 0.5 2.00065C0.5 1.6701 0.611806 1.39301 0.835417 1.1694C1.05903 0.94579 1.33611 0.833984 1.66667 0.833984H20.3333C20.6639 0.833984 20.941 0.94579 21.1646 1.1694C21.3882 1.39301 21.5 1.6701 21.5 2.00065C21.5 2.33121 21.3882 2.60829 21.1646 2.8319C20.941 3.05551 20.6639 3.16732 20.3333 3.16732H1.66667ZM1.66667 17.1673C1.33611 17.1673 1.05903 17.0555 0.835417 16.8319C0.611806 16.6083 0.5 16.3312 0.5 16.0007C0.5 15.6701 0.611806 15.393 0.835417 15.1694C1.05903 14.9458 1.33611 14.834 1.66667 14.834H20.3333C20.6639 14.834 20.941 14.9458 21.1646 15.1694C21.3882 15.393 21.5 15.6701 21.5 16.0007C21.5 16.3312 21.3882 16.6083 21.1646 16.8319C20.941 17.0555 20.6639 17.1673 20.3333 17.1673H1.66667ZM1.66667 10.1673C1.33611 10.1673 1.05903 10.0555 0.835417 9.8319C0.611806 9.60829 0.5 9.33121 0.5 9.00065C0.5 8.6701 0.611806 8.39301 0.835417 8.1694C1.05903 7.94579 1.33611 7.83398 1.66667 7.83398H20.3333C20.6639 7.83398 20.941 7.94579 21.1646 8.1694C21.3882 8.39301 21.5 8.6701 21.5 9.00065C21.5 9.33121 21.3882 9.60829 21.1646 9.8319C20.941 10.0555 20.6639 10.1673 20.3333 10.1673H1.66667Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap {
                display: none; /* 숨김처리 */
            }
            header .tnb {
                display: none; /* 숨김처리 */
            }
}/*@media*/

.visual {
    height: 100vh; /* 브라우저의 높이에 맞춰서 */
    min-height: 530px; /* 최소높이 */
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-size: 80px;
    padding: 40vh 0 15px 0;
}
@media screen and (max-width:640px){
        .visual {
            height: auto; /* 브라우저의 높이에 맞춰서 */
            min-height: 0; /* 최소높이 */
        }
        .visual .wrapper {
            height: 600px; /* 브라우저의 높이에 맞춰서 */
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0 0 57px 0;
        }
        .visual h2 {
            font-size: 44px;
            padding: 0 0 8px 0;
        }
        .visual p br {
            display: none; /* 줄바꿈 삭제 */
        }
}/*@media*/

.book {
    margin: 133px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    display: flex; /* tit, list 좌우 배치 */
    justify-content: space-between;
}
.book .book_wrap .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 10px 0 15px 0;
}
.book .book_wrap .list {
    width: calc(100% - 258px);
    /* book_wrap의 넓이를 100%로 하고 왼쪽 tit의 넓이를 빼기 */
    overflow-x: hidden;
}
.book .book_wrap .list ul {
    display: flex; /* li를 좌우로 */
    gap: 24px;
    width: 1778px;
    /*
        li의 넓이 * li의 갯수 = 230*7 = 1610
        사이 여백 * li의 갯수 = 24*7 = 168
        1610 + 144 = 1,778
    */
}
.book .book_wrap .list ul li {
    width: 230px;
}
.book .book_wrap .list ul li a {
    display: block;
}
.book .book_wrap .list ul li a .photo {
    
}
.book .book_wrap .list ul li a .photo img {
    width: 100%; 
    /* 높이는 비율에 맞게 알아서 
       - 책은 이미지 전체가 나와야 하기때문에 object-fit 안줌 */
}
footer {
    margin: 500px 0 0 0;
}